In [4]:
with open('abc/text.txt', 'w') as f:
    f.write('hello')

In [5]:
f = open('abc/text.txt', 'r')
f.read()
f.close()

In [6]:
with open('abc/text.txt', 'w', encoding="utf-8") as f:
    f.write("안녕하세요.")

In [7]:
with open('abc/text.txt', 'r+', encoding="utf-8") as f:
    content = f.read()

In [8]:
with open('abc/text.txt', 'r' , encoding='utf-8') as f:
    txtfile = f.read()
    print(txtfile)

안녕하세요.

In [9]:
with open('abc/text1.txt', 'a', encoding='utf-8') as f:
    f.write('추가합니다.\n')
    f.write('야호 ~~')

In [10]:
with open('abc/text1.txt', 'r' , encoding='utf-8') as f:
    txtfile = f.read()
    print(txtfile)

추가합니다.
야호<br>~~추가합니다.
야호</br>~~추가합니다.
야호 ~~추가합니다.
야호 ~~추가합니다.
야호 ~~

In [11]:
lines = ["첫 번째 줄입니다.\n", "두 번째 줄입니다.\n", "세 번째 줄입니다.\n"]
with open('output.txt', 'w') as f:
    f.writelines(lines)

In [12]:
with open("output.txt", "r", encoding="utf-8") as f:
    lines = f.readlines()

print(lines)
print(type(lines))

for line in lines:
    print(line.strip())

['첫 번째 줄입니다.\n', '두 번째 줄입니다.\n', '세 번째 줄입니다.\n']
<class 'list'>
첫 번째 줄입니다.
두 번째 줄입니다.
세 번째 줄입니다.

In [13]:
with open("output.txt", "r", encoding="utf-8") as f:
    line = f.readline()
    print(line)

첫 번째 줄입니다.

# 피클, 직렬화/역직렬화

In [14]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [15]:
data

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [16]:
#json 형식

In [17]:
import json

In [18]:
with open('abc/data.json', 'w') as f:
    json.dump(data, f, ensure_ascii=False)

In [19]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)
    
print(loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [20]:
import csv
data = [['name', 'age'], ['bob', 20], ['alice', 15]]
data

[['name', 'age'], ['bob', 20], ['alice', 15]]

In [21]:
# 직렬화하여 파일에 저장
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerow(data)

In [22]:
import pandas as pd
df = pd.DataFrame(data)
df.to_csv('abc/data_df.csv')

In [23]:
pd.read_csv('abc/data_df.csv')

   Unnamed: 0      0    1
0           0   name  age
1           1    bob   20
2           2  alice   15

In [24]:
df.rename(columns={0: 'name', 1: 'age'}, inplace=True)
df

    name  age
0   name  age
1    bob   20
2  alice   15