# 함수

-
- 인자 = 매개변수, 입력, 파라미터
- 반환갓 = 리턴값, 결과값
- 함수이름 결정


- 함수 정의 (def) > 호출

In [1]:
# return이 없는 경우
def my_func():
    print('my first function')
    print('hello')
    print('good job')

In [2]:
#call
my_func()

my first function
hello
good job

In [3]:
type(my_func)

function

In [4]:
my_func_var = my_func()
my_func_var

my first function
hello
good job

In [5]:
print(my_func_var)

None

In [10]:
# return이 있는 경우
def my_func1():
    print('my first function')
    print('hello')
    print('good job')
    return 'hello'

In [11]:
my_func1()

my first function
hello
good job

'hello'

In [12]:
my_func_var2 = my_func1()

my first function
hello
good job

In [13]:
my_func_var2

'hello'

# 매개변수

- 입력값이 있는 함수

##  입력값의 타입 : 수치형 vs (리스트)객체형

- 수치형: 값에 의한 전달 call by value
- 객체형: 값(참조)의 전달 call by reference > 같은 객체를 다룬다.

In [14]:
def my_calc(x):
    print(f'{x} 를 계산합니다.')

In [15]:
my_calc(10)

10 를 계산합니다.

In [17]:
def my_calc(x):
    print(f'{x} 를 계산합니다.')
    z = x*20
    return z

In [19]:
result = my_calc(10)
print(result)

10 를 계산합니다.
200

In [49]:
def my_calc2(x,y):
    print(f'{x}와 {y} 를 계산합니다.')
    add_result = x + y
    mul_result = x * y
    return add_result, mul_result

In [50]:
my_calc2(10, 20)

10와 20 를 계산합니다.

(30, 200)

In [51]:
func_result1, f2 = my_calc2(10, 20)
func_result1

10와 20 를 계산합니다.

30

In [48]:
f2

200

In [35]:
# 리스트 매개변수의 실행

def my_calc3(a, lst1):
    a += 1
    lst1.append(a)
    return a

In [39]:
num = 10
lst_num = [1, 2, '12']
print(f'before : {num}, {lst_num}')

my_calc3(num, lst_num)
print(f'after: {num}, {lst_num}')

before : 10, [1, 2, '12']
after: 10, [1, 2, '12', 11]

In [40]:
my_calc3(lst_num, num)

TypeError: 'int' object is not iterable

In [43]:
my_calc3(a=num, lst1=lst_num)

11

In [44]:
my_calc3(lst1=lst_num, a=num)

11

- 키워드 매개변수 : 함수의 매개변수 목록은 변수명이 매개변수 명이다.  
매개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

In [57]:
#기본값, 기본인자

def greeting(name, greeting=hello):
    print(f'{greeting}, {name}님!')

greeting('minsu' , 'hello, ')

hello, , minsu님!

In [58]:
greeting('alice', 'hi')

hi, alice님!

In [60]:
# 가변인자(가변매개변수)
def sum_all(*args):             #값, 변수의 목록 (리스트 ❌)
    return sum(args)

In [61]:
sum_all(1, 2, 3, 4, 5)

15

In [67]:
def sum_all(arg1, arg2, *args):
    print(args)                 # 타입 출력 모양 확인 : 튜플
    result = arg1 + arg2 + sum(args)
    return result

In [68]:
sum_all(1, 2, 3, 4, 5)

(3, 4, 5)

15

## 매개변수의 순서가 중요

In [69]:
## **kwargs
def print_info(**kwards):
    for k , v in kwards.items():
        print(f'{k}, {v}')

In [71]:
print_info(name = 'hong', age = 20, city = 'seoul' , food = 'chicken')

name, hong
age, 20
city, seoul
food, chicken

# 요일 구하는 함수 정의
- 입력 : year, month, day
- 출력 : '월요일'
- 함수명 : 요일찾기()

In [116]:
year=2025
month = 6
day = 12

In [117]:
# 날짜 - 연,월,일  year=2025 month=06, day=05

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지
if month>=3 :
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0
        
print(total_days)

#일수 입력한 일
total_days += day

print(total_days)

#요일정하기
remain_days = total_days % 7

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else:
    print('일요일')

739251
739402
739414
목요일

In [118]:
def 윤년체크(year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
   
    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False

In [119]:
윤년체크(2028)

True

In [120]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0
    
    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365
        
    #print(total_days)
    
    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]
    
    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1
            
    #print(total_days)
    
    #일수 입력한 일
    total_days += day
    
    #print(total_days)
    
    #요일정하기
    remain_days = total_days % 7
    
    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]
    
        
    return week_day_name

In [121]:
year=2025
month=6
day=4

day_name = 요일찾기(year, month, day)
print(f'입력하신 날짜는 {day_name}입니다.')

입력하신 날짜는 수요일입니다.

In [122]:
import datetime
today = datetime.date(2025,6,5)
#type(today)
#dir(today)
today.weekday()

3

In [123]:
year=2025
month = 6
day = 12

In [108]:
def 요일찾기(year, month, day):
    # 1. 1년 1월 1일부터 year-1년까지의 전체 일수
    total_days = 0
    for y in range(1, year):
        total_days += 366 if 윤년체크(y) else 365

    # 2. 해당 연도의 1월부터 month-1월까지의 일수
    month_days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    for m in range(1, month):
        total_days += month_days[m]
    
    # 3. 윤년일 경우, 3월 이후라면 하루 추가
    if month > 2 and 윤년체크(year):
        total_days += 1

    # 4. 해당 월의 day만큼 추가
    total_days += day

    # 5. 요일 구하기
    remain_days = total_days % 7
    day_names = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']
    요일 = day_names[remain_days]

    # 👉 여기서 출력도 하고
    print(f"{year}년 {month}월 {day}일은 {요일}입니다.")

    # 👉 요일값도 return함
    return 요일

# 성적처리 시스템

- calc_total()
- cal_average()
- cal_order()

- print_student(students): 전학생의 성적을 출력
- print_class() : 반평균, 각 과목별 출력

In [194]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [203]:
def calc_total(stus):
    for s in stus:
        s['total'] = s['kor'] + s['eng'] + s['math']

In [204]:
def calc_average(stus):
    for s in stus:
        s['avg'] = (s['kor'] + s['eng'] + s['math']) /3

In [211]:
 def calc_order(stus):
    
    for student in stus:
        rank = 1
        for other in stus:
            if other['total'] > student['total']:  
             rank += 1
        student['order'] = rank

In [212]:
calc_total(students)
students

[{'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 0},
 {'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 0},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 0}]

In [213]:


def print_class():
    total_kor = 0
    total_eng = 0
    total_math = 0
    total_total = 0
    count = len(students)


    for stu in students:
        stu['total'] = stu['kor'] + stu['eng'] + stu['math']
        stu['avg'] = stu['total'] /3
    
        total_kor += stu['kor']
        total_eng += stu['eng']
        total_math += stu['math']
        total_total += stu['avg']
    
    avg_kor = total_kor / count
    avg_eng = total_eng / count
    avg_math = total_math / count
    class_avg = total_total / count
    
    
    print("반 평균 및 과목별 평균")
    print(f"국어평균 : {avg_kor:.2f}")
    print(f"영어평균 : {avg_eng:.2f}")
    print(f"수학평균 : {avg_math:.2f}")
    print(f"반 평균 : {class_avg:.2f}")

print_class()

반 평균 및 과목별 평균
국어평균 : 86.67
영어평균 : 81.67
수학평균 : 85.00
반 평균 : 84.44

In [214]:
def print_student(stus):
    for s in stus:
        print(f'이름: {s['name']} 국어: {s['kor']} 영어: {s['eng']} 수학: {s['math']} 등수: { s['order']}')

In [228]:
def print_class(stus):
    #반평균
    class_avg =0
    kor_avg =0
    eng_avg = 0
    math_avg = 0
    #각 과목별 평균 출력
    print(f'반평균: {class_avg} 국어: {kor_avg} 영어: {eng_avg} 수학: {math_avg}')

In [229]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

이름: 김철수 국어: 90 영어: 80 수학: 85 등수: 2
이름: 박제동 국어: 90 영어: 85 수학: 90 등수: 1
이름: 홍길동 국어: 80 영어: 80 수학: 80 등수: 3
반평균: 0 국어: 0 영어: 0 수학: 0

In [ ]:
#람다 함수

#선언
lambda <매개변수> : code

#호출
(lambda <매개변수> : code) (매개변수값)

In [1]:
def aaa(a):
    result = a+1
    return result

In [2]:
lambda a : a+1

In [3]:
#람다의 정의 즉시 호출
(lambda a : a+1)(2)

3

In [4]:
#람다의 재정의
my_lambda  = lambda a : a+1   
my_lambda(3)

4

In [5]:
def sum1(a,b):
    return a+b
sum1(2,3)

5

In [6]:
(lambda a,b : a+b)(2,3)

5

In [7]:
lambda1 = lambda a,b : a+b
lambda1(2,3)

5

In [9]:
# 람다는 기존 함수의 매개변수로 활용한다.
def calc_func(a,b, opr_func):
    result = opr_func(a,b)
    return result

In [13]:
#사칙연산
calc_func(1,2, lambda x,y: x+y)

3

In [18]:
#map 함수
fruits = ['apple', 'banana', 'cherry']
#fruits[0].upper()
list(map(str.upper, fruits))

['APPLE', 'BANANA', 'CHERRY']

In [19]:
str_number = '12345'
list(str_number) #문자열리스트

['1', '2', '3', '4', '5']

In [22]:
str_number = '12345'
list(map(int, str_number))

[1, 2, 3, 4, 5]

In [30]:
# 꺼낸 값을 2배

numbers = list(map(int, str_number))
list(map(lambda x : x**2, numbers))

[1, 4, 9, 16, 25]

In [31]:
kor_score = [1,2,3]
eng_score = [4,5,6]

list(map(lambda x,y : x+y , kor_score, eng_score))

[5, 7, 9]

In [1]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

total = list(map(lambda x,y,z : x+y+z, kor_score, eng_score, math_score))
total

[12, 15, 18]

In [4]:
avg = sum(total) / len(total)
min_score = min(total)
max_score = max(total)

print(f"평균: {avg}")
print(f"최소: {min_score}")
print(f"최대: {max_score}")

평균: 15.0
최소: 12
최대: 18

In [49]:
list(map(lambda s : sum(s), zip(kor_score, eng_score, math_score)))

[12, 15, 18]

In [6]:
list(map(lambda s : min(s), zip(kor_score, eng_score, math_score)))

[1, 2, 3]

In [7]:
list(map(lambda s : max(s), zip(kor_score, eng_score, math_score)))

[7, 8, 9]

In [10]:
list(map(lambda s : sum(s) / len(s), zip(kor_score, eng_score, math_score)))

[4.0, 5.0, 6.0]