# 예외의 종류

1. 문법오류: SyntaxError, NameError, TypeError
2. 논리오류
3. 예외상황

In [2]:
# 문법오류
while True
print('hello')

SyntaxError: expected ':' (508021833.py, line 1)

In [4]:
4 + 2*am

NameError: name 'am' is not defined

In [2]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# try :

except

In [ ]:
# 10/0 #ZeroDivisionError

In [3]:
def divide(m,n):
    return m/n

In [4]:
result = divide(3,2)
result

1.5

In [5]:
result = divide(3,0)
result

ZeroDivisionError: division by zero

In [28]:
def divide(m,n):
    try: 
        result = m/n
        
        return result
    except (ValueError, ZeroDivisionError):
        print('❌ 0으로 나눌 수 없습니다.')
        return None
    except : # 나머지 모든 에러 받기
        print('다른 에러가 발생했습니다.')
        return None

    finally:
        print("항상 실행되는 코드입니다.")

In [29]:
result = divide(3,0)
result

❌ 0으로 나눌 수 없습니다.
항상 실행되는 코드입니다.

In [30]:
divide(None, 0)

다른 에러가 발생했습니다.
항상 실행되는 코드입니다.

In [31]:
try:
    n = int("abc")
except ValueError:
    print("정수로 변환할 수 없습니다.")

정수로 변환할 수 없습니다.

# 예외 발생시키기

In [33]:
raise TypeError('입력값 오류')

TypeError: 입력값 오류

In [34]:
try:
    raise TypeError('입력값 오류')
except TypeError as e : 
    print(e.args)

('입력값 오류',)

# 내가 정의하는 예외

1. 예외 클래스 작성 : 각 예외상황에 맞는 메시지를 작성
2. 호출할 때 try : except 로 받아줍니다.

In [41]:
class AgeException(Exception):
    def init(self, msg):
        self._message = msg

def input_age():
    age = int(input('나이를 입력하세요 : '))

    if age < 0 :
        raise AgeException('나이는 양수입니다.')
    elif age > 150:
        raise AgeException('150세 이상??')
    else :
        return age

In [ ]:
input_age()

In [42]:
try:
    age = input_age()
except AgeException as e:
    print(e.args[0])

else:
    print(f'입력하신 나이는 {age} 입니다. ')

나이를 입력하세요 :  20

입력하신 나이는 20 입니다.