# 들어가기 : 주석

In [ ]:
print('hello')

In [ ]:
# hello 출력해보세요.

In [ ]:
# age : 변수
# input : 예약어 (*** 예약어란?: )
# input(" 함수내용 즉, 명령어 ")

age = input("나이를 입력하세요.") # ㅁ code shell

In [4]:
def calculate_sum(a, b) :  # : 과 들여쓰기는 '짝꿍~'
    result = a + b         #변수 대입 함수
    return result          # 함수 종료 명령어 반환할 값
print(calculate_sum(3, 4)) # 값을 보고 싶은 것, 변수가 아니라면 () 넣어주기

7

# 표준 입력과 표준 출력

In [1]:
12345
10
# ipython 라이브러리의 기본 기능

10

In [2]:
'12345'
type(12345)

int

In [3]:
12345
type('12345')

str

In [4]:
"12345" * 3

'123451234512345'

In [7]:
input('당신의 이름을 입력하세요')

당신의 이름을 입력하세요 지희

'지희'

In [8]:
input('당신의 나이를 입력하세요')

당신의 나이를 입력하세요 23

'23'

In [9]:
age = input('당신의 나이를 입력하세요')
age

당신의 나이를 입력하세요 24

'24'

In [10]:
age

'24'

In [12]:
input('당신의 이름을 입력하세요')

당신의 이름을 입력하세요 지희

'지희'

In [13]:
name = input('당신의 이름을 입력하세요')
name

당신의 이름을 입력하세요 지희

'지희'

In [14]:
name

'지희'

In [15]:
age, name

('24', '지희')

In [16]:
print(age, name)

24 지희

In [17]:
print('나는 '+name+'이고 나이는' ,age, '입니다.')

나는 지희이고 나이는 24 입니다.

In [18]:
type(age)

str

In [19]:
int(age)

24

In [20]:
age = int(age)
print(age)
type(age)

24

int

In [21]:
print(age + 10)

34

# 연습

In [22]:
# 자기 이름으로 삼행시 짓기


print('김 : 김치볶음밥을 제일 잘하고')
print('지 : 지각은 안 하는데')
print('희 : 희한하게 게으른 사람')

김 : 김치볶음밥을 제일 잘하고
지 : 지각은 안 하는데
희 : 희한하게 게으른 사람

In [28]:
line1 = input('김 : ')
line2 = input('지 : ')
line3 = input('희 : ')
print(line1 ,line2, line3, sep='! ')

김 :  김치볶음밥을 제일 잘하고
지 :  지각도 안하는데
희 :  희한하게 게으른 사람

김치볶음밥을 제일 잘하고! 지각도 안하는데! 희한하게 게으른 사람

In [31]:
print(line1 ,line2, line3, sep='\n ')   # \n  줄바꿈 기호

김치볶음밥을 제일 잘하고
 지각도 안하는데
 희한하게 게으른 사람

### 문자열의 시작이 \(역슬래시) --> 이스케이프 문자, 특수 문자
### \n \t \\

In [33]:
삼행시 = line1 +'\n'+ line2 +'\n'+ line3
print(삼행시)

김치볶음밥을 제일 잘하고
지각도 안하는데
희한하게 게으른 사람

# 변수

변수 type safe : 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성   
변수명 = 값


## 변수의 명명규칙
1. 문자, 숫자, 밑줄(언더스케이프'_')을 활용하여 생성
2. 숫자로 시작할 수 없음
3. 대소문자를 구분
4. 예약어, 특수기호, 공백 안 됨

In [34]:
x = 10
y = 'hello'
z = 3.141592

x,y,z

(10, 'hello', 3.141592)

In [38]:
type(x) , type(y) , type(z)

(int, str, float)

In [40]:
print(type(x) , type(y) , type(z))

<class 'int'> <class 'str'> <class 'float'>

In [45]:
a,b,c = 10,20,30
print((a),(c),(b))

10 30 20

In [46]:
a = b = c = 40
a,b,c

(40, 40, 40)

In [49]:
d = True    #bool형
e = None    #type이 없음, NoneType
print(d,e)

True None

In [57]:
aa = 10
bb = a
print(a, b)
print(id(a), id(b))
print(aa == bb)

10 10
140724063906520 140724063906520
True

In [58]:
aa = 20
print(aa, bb)

20 10

In [ ]:
# 의미 부여 하기 어려운 변수명
x = 100
y = 100

#의미 있는 변수명
age = 20
name = '김지희'
user_name = 'Alic'
admin_name = 'Bob'

#대문자 Upper-case 상수에만 사용
PI = 3.141592
MAX_CONNECTIONS = 10 #최대 연결 수
MIN_VALUE = 0 #최소값

## NAME_SPACE

변수가 최초로 정의된 영역에 따른 유효 범위가 결정.

- 지역변수 (Local Variable) :   
   함수나 블록 내부에서 정의된 변수. (해당 함수 안에서만 유효하며, 함수가 끝나면 사라짐)
- 전역변수 (Global Variable) :   
   함수 밖에서 정의된 변수. (프로그램 전체에서 접근 가능, 단 함수 안에서 수정하려면 global 키워드 필요.)
- 정적변수 (Static Variable) :   
   함수가 여러 번 호출되어도 값이 유지되는 변수.   
   파이썬에는 직접적인 static 키워드는 없지만, (함수 속 속성이나 클래스 변수로 비슷하게 구현할 수 있음.)

In [110]:
# 지역변수
# lacal_example 을 실행해야만 사용 가능

# def lacal_example():
#     local_var = 100
#     print('여기는 함수의 영역입니다. '+ local_var)
# local_var #NameError: name 'local_var' is not defined


def local_example():
    local_var = 100
    print('여기는 함수의 영역입니다.', local_var)
    return local_var  # 함수 바깥으로 값 전달

local_var = local_example()  # 함수 호출 + 결과 저장
print(local_var)  # 100

여기는 함수의 영역입니다. 100
100

In [66]:
# 전역변수
# global_var = '나는 전역이다'
# print(global_var)


global_var = '나는 전역이다'

def global_example():
    local_var = 100
    print('여기는 함수의 영역입니다.', local_var)
    return local_var  # 함수 안에서도 전역 변수 사용 가능

global_example()  # 출력: 나는 전역이다

여기는 함수의 영역입니다. 100

100

In [70]:
var_test = '나는 전역이다'
print(var_test)

def global_example():
    global var_test 
    var_test = 100
    print('여기는 함수의 영역입니다.', var_test)
    return local_var  # 함수 안에서도 전역 변수 사용 가능

global_example()

print(var_test)

나는 전역이다
여기는 함수의 영역입니다. 100
100

In [90]:
# 변수 영역 연습

counter = 0 #global


def increment_counter():
    # counter = counter + 1
    global counter
    counter += 1
    print('카운터 : ', counter)
    return counter


increment_counter()
increment_counter()
increment_counter()

카운터 :  1
카운터 :  2
카운터 :  3

3

In [86]:
def increment_counter(counter):
    counter += 1
    print('카운터 :', counter)
    return counter

counter = 0
counter = increment_counter(counter) 
counter = increment_counter(counter) 
counter = increment_counter(counter)

카운터 : 1
카운터 : 2
카운터 : 3

## 교재 변수 연습

In [94]:
#print() 함수를 사용하여 다음과 같이 출력하세요.
#naver;kakao;sk;samsung

print ("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [95]:
#print() 함수를 사용하여 다음과 같이 출력하세요.
#naver/kakao/sk/samsung

print ("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [100]:
print("first", end=""); print("second")

firstsecond

In [105]:
#삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.


삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [109]:
# 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79


시가총액 = 2980000000000
현재가 = 50000
PER = 15.79

print(시가총액 , type(시가총액))
print(현재가 , type(현재가))
print(PER , type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

## 자료형

- 기본 자료형 : 숫자형, 문자열 str, bool형
- 복합 자료형 : 리스트, 셋, 튜플, 딕셔너리

  |type| 설명| 예|
  |---|---|---|
  정수형(int) |정수를 저장하는 자료형| 1, -5, 100
  실수형(float)|소수점이 있는 숫자를 저장하는 자료형|3.15, -0.001, 2.0
  문자열(str)| 텍스트를 저장하는 자료형 |"Hello" , "파이썬"
  논리형(bool) |참 / 거짓 값을 저장하는 자료형 |True, False

- 수정 불가능한 데이터 타입 : 수치형, bool형, 문자열, 튜플
- 수정 가능한 데이터 타입 : 리스트, 딕셔너리, 셋

In [112]:
# 수치형 - int
20, type(20)

(20, int)

In [113]:
age = 20
type(age)

int

1. 진법 : 10진법, 2진수, 8진수, 16진수
2. 입력하는 방법은 다르지만, print() 결과는 동일하다.

In [115]:
a = 10
b = 0b0101 #2진수 - 0과 1로 표현하는 방법 --> 0101 -> 2^3 + 2^2 + 2^1 + 2^0 = 
a,b

(10, 5)

In [118]:
c = 0o10 # 0o 8진수 10 -> 8^1 + 8^0 = 8*1 + 0*0 = 8
c

8

In [119]:
d = 0b1000
d

8

In [124]:
e = 0x16d # 1*16^2 + 6 * 16^1 + d(13)*16^0 = 256 + 96 +16, e 
16**2 , 16*6 , e

(256, 96, 365)

In [125]:
# float
b = 3.14
b, type(b)

(3.14, float)

지수의 표기

숫자e2 -> 10^2 = 10**2
숫자e-2 -> 10^-2 = 10**-2

숫자 e2 -> 10^2의 곱 = 10**2
숫자 e-2 -> 10^-2의 곱 = 10**-2

In [170]:
fa = 10e2
fa, 10* 10**2

(1000.0, 1000)

In [127]:
fb = 10e-2
fb

0.1

In [135]:
fc = 3.1415e9
fc

3141500000.0

# booleanr값 - True , False

논리연산, 비교연산

In [136]:
# 사칙연산 + - * / // %

a = 2
b = 3

In [140]:
a+b
a-b
a*b
a/b , a//b , a%b   #나누기 #몫 , #나머지

(0.6666666666666666, 0, 2)

In [142]:
# 비교 연산자

1+2 == 3
1+2 != 3

False

In [143]:
1+3 > 3

True

In [144]:
# 비교연산자와 논리연산자의 결합

10%2 == 0 and 12%3 == 0

True

In [147]:
a = 20
a += 1 #a = a + 1
a

21

In [148]:
a -= 1
a

20

In [151]:
a = 3 
b = 2
a += 2 + b
a

7

# 문자열 str

' ' , " " , """  """ ,  '''  '''  docstring

In [152]:
a = 'hello'
b = 'python'
a + b

'hellopython'

In [154]:
c = '*'
print(c * 10)
type(c)

**********

str

In [156]:
d = "kim's famliy"
d

"kim's famliy"

In [157]:
e = '1'
e == '1'

True

In [159]:
# 문자열은 리스트, 열거형
a = '20010331Rabcd'
a[0] # 숫자 자리수 > 인덱스

'2'

In [160]:
a[3]

'1'

In [161]:
a[-1]

'd'

In [162]:
a[:4]

'2001'

In [164]:
a[-5:-2]

'Rab'

In [166]:
a[-4:]

'abcd'

In [167]:
s = 'abc'
a = s
a is s

True

In [168]:
b = s[:]
a is b

True